
data/field_observations/.DS_Store
data/field_observations/.DS_Store
data/field_observations/.DS_Store
data/field_observations/groundwater/.DS_Store
data/.DS_Store
data/climate/.DS_Store
data/field_observations/groundwater/sub-daily loggers/.DS_Store
data/field_observations/groundwater/sub-daily loggers/.DS_Store
data/.DS_Store
data/.DS_Store
data/climate/~$climate_metadata.xlsx
data/field_observations/groundwater/.Rhistory
